language: node_js

node_js:
  - "10.13.0"

sudo: true

env:
  - CXX=g++-4.8 NODE_ENV=testing ALBUMS_URL=https://jsonplaceholder.typicode.com/albums PHOTOS_URL=https://jsonplaceholder.typicode.com/photos TOKEN_EXPIRATION_TIME=2 
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8

services:
  - postgresql

before_script:
  - psql -c "CREATE DATABASE bookstest;" -U postgres
  - npm run migrations-test
